<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About ARTADYS</h2>
  <p>
    At Artadys, we are trying to develop  a delightful project created to explore Ember.
    By building a site for Opinion tracking, Sentimenatl Analysis, Customer Analytics, we are simultaneously imagine traveling
    and building Ember applications.
  </p>
  {{#link-to 'president' class="button"}}
    Get Started!
  {{/link-to}}
</div>
