<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Artadys Representatives would love to help you.</p>
  <p>
    <h3>CRISTIAN BEZA</h3>

    ARTADYS PARIS
    <address>
      145 rue de Charenton Paris<br> 75012
    </address>
    Tel: 0623530434<br>
    Email: contact@artadys.com
  </p>

  <p>
    <h3>ANKIT SINGHAL</h3>

    ARTADYS  INDIA
    <address>
      New Delhi, India<br>
    </address>
    Email: ankitsinghal@outlook.in
  </p>

  {{#link-to 'about' class="button"}}
    About
  {{/link-to}}
</div>
