<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Word Count!</h2>
  <p>
    <li>An exciting demo to show a small application of <b>word count of text available on any website</b>.</li>
     <li>A demonstration to <b>fetch data through API</b> from back-end <b>Server(Python)</b>.</li>
    <li> Its just not simple a word-count demonstration. We have use <b>machine learning- NLP(NLTK)</b> at back-end. Hence its <b>a wonderful demonstration of machine learning application.</b> </li>
  </p>
  {{#link-to 'about' class="button"}}
    Back to About Us
  {{/link-to}}
</div>


  <h3><u>Presidents:</u></h3>

{{#each model as |rental|}}
  <article class="listing">
     <img src="{{rental.image}}" alt="">
    <h3>{{rental.name}}</h3>
    <div class="detail owner">
      <span>Title:</span> {{rental.title}}
    </div>
    <div class="detail type">
      <span>Description: </span><a href='{{rental.Description}}' target='_blank'>wikipedia</a>
    </div>
    <div>
    {{#link-to 'wordCount' rental.url }}
      Get word count
    {{/link-to}}
  </div>
  </article>
{{/each}}
