<div class="jumbo">
  <div class="right tomster"></div>

  {{#link-to 'president' class="button"}}
    Back
  {{/link-to}}
</div>



<h1>Source</h1>
<ul>
  {{#each model.urldata as |ud|}}
    <a href='{{ud.url}}' target='_blank'>{{ud.url}}</a>
    {{/each}}
</ul>
<br><br>
<ul>
<h1>Word Count</h1>

<table border="1">
  <tr><th>WORDS</th><th>COUNT</th></tr>
{{#each model.data as |pr|}}
  <tr>
    <td>{{pr.word}}</td>
    <td>{{pr.count}}</td>
  </tr>
{{/each}}
</table>
</ul>
